/* Premiere image */
img:first-of-type:hover{
    transform: skewY(15deg);
}

/* Deuxieme image */
img:nth-last-of-type(4):hover{
    transform: skewX(20deg);
}

/* Troisieme image */
img:nth-child(5):hover{
    transform: scale(1.2);
}

/* Quatrime image */
img:nth-of-type(4):hover{
    transform: rotate(25deg);
    transform-origin: 0 0;
}
/* Derniere image */
img:last-of-type:hover{
    transform: translate(40px, 40px) scale(1.5);
}

img {
    width: 100px;
    height: 100px;
    transition-duration: 1s;
    transition-property: all;
}